/*******************************Calendar Top Navigation*********************************/
/* .calendarSpace{
    display: flex;
    justify-content: center;
} */

div#calendar{
    margin: 0 auto;
    padding:0px;
    width: 602px;
    font-family:Helvetica, "Times New Roman", Times, serif;
}

div#calendar div.box{
    position:relative;
    top:0px;
    left:0px;
    width:602px;
    height:40px;
    background-color:   #787878 ;      
}

div#calendar div.header{
    line-height:40px;  
    vertical-align:middle;
    position:absolute;
    left:11px;
    top:0px;
    width:582px;
    height:40px;   
    text-align:center;
}

div#calendar div.header a.prev,div#calendar div.header a.next{ 
    position:absolute;
    top:0px;   
    height: 17px;
    display:block;
    cursor:pointer;
    text-decoration:none;
    color:#FFF;
}

div#calendar div.header span.title{
    color:#FFF;
    font-size:18px;
}


div#calendar div.header a.prev{
    left:0px;
}

div#calendar div.header a.next{
    right:0px;
}




/*******************************Calendar Content Cells*********************************/
div#calendar div.box-content{
    border:1px solid #787878 ;
    border-top:none;
    width: 602px;
}



div#calendar ul.label{
    float:left;
    margin: 0px;
    padding: 0px;
    margin-top:5px;
    margin-left: 5px;
}

div#calendar ul.label li{
    margin:0px;
    padding:0px;
    margin-right:5px;  
    float:left;
    list-style-type:none;
    width:80px;
    height:40px;
    line-height:40px;
    vertical-align:middle;
    text-align:center;
    color:#000;
    font-size: 15px;
    background-color: transparent;
}


div#calendar ul.dates{
    float:left;
    margin: 0px;
    padding: 0px;
    margin-left: 5px;
    margin-bottom: 5px;
}

/** overall width = width+padding-right**/
div#calendar ul.dates li{
    margin:0px;
    padding:0px;
    margin-right:5px;
    margin-top: 5px;
    line-height:80px;
    vertical-align:middle;
    float:left;
    list-style-type:none;
    width:80px;
    height:80px;
    font-size:25px;
    background-color: #DDD;
    color:#000;
    text-align:center; 
}

:focus{
    outline:none;
}

div.clear{
    clear:both;
}     

/* ---------------------------------------------PAGE CSS------------------------------------------ */
body {
/* background: url("../images/homepage-Suggesto.png") center center fixed; */
justify-content: center;
text-align: center;
background-color: #F9F7F7;
margin-left: 0;
color: #3F72AF
}

.font-body{
    font-family: 'Italianno', cursive;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-family: 'Italianno', cursive;
    font-family: 'Poppins', sans-serif;
}

.flex {
    display: flex;
    justify-content: center;
}

.border {
    border: 1px solid #112D4E;
} 

.header-box {
    font-family: 'Italianno', cursive;
    font-family: 'Poppins', sans-serif;
    
    /* background-color: #ECECEC; */
    background-color: #112D4E;
    height: 55px;
    width: 100%;
    /* width: 100%;     dit is voor zonder sidebar */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7%; /*plaats tussen de buttons*/
    /* gap: 10%; */
    /* width: 1vw; */
}

.header-box-3 {
    font-family: 'Italianno', cursive;
    font-family: 'Poppins', sans-serif;
    
    /* background-color: #ECECEC; */
    background-color: #112D4E;
    height: 55px;
    width: 100%;
    /* width: 100%;     dit is voor zonder sidebar */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7%; /*plaats tussen de buttons*/
    /* gap: 10%; */
    /* width: 1vw; */
}

.header-box ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #DBE2EF;
    width: 100%;
}
  
.header-box-3 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #DBE2EF;
    width: 100%;
}

.header-box li {
    float: left;
    border-right: 1px solid #3F72AF;
    width: 33%;
}

.header-box-3 li {
    float: left;
    border-right: 1px solid #3F72AF;
    width: 33%;
}
  
.header-box li a {
    display: block;
    color: #112D4E;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.header-box-3 li a {
    display: block;
    color: #112D4E;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.header-box li a:hover {
    background-color:#3F72AF; 
}

.header-box-3 li a:hover {
    background-color:#3F72AF; 
}

.lilbox{
    border: 1px solid #112D4E;
    background-color: #e6e6e6;
    height: 200px;
    width: 100px;
}


.box {
    border: 1px solid #112D4E;
    background-color: #e6e6e6;
    height: 180px;
    width: 180px;
}

/* .box:hover {         doesn't work :(
    color:#000000
} */

.suggestion-div {
    /* align-items: center; */
    /* justify-content: center; */
    margin: 5% 5% ; /*TOP-BOTTOM  LEFT-RIGHT*/
    display: flex;
    gap: 13%;
}

.button {
    background-color: #9c9a9a;
    border: 1px solid black;
    height: 54px;
    width: 15%;
    /* width: 177px; */
    display: flex;
    align-items: center;
    justify-content: center;
}



/* VAN INTERNET, ((VALT NOG AAN TE PASSEN)): https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp

/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 15%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #F9F7F7;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}
  
  /* The navigation menu links */
.sidenav a {
    padding: 10px 8px 6px 16px; /*top right bottom left*/
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
}
  
  /* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    /* color: #f1f1f1; */
    color: #969696
}
  
  /* Style page content */
.main {
    margin-left: 0px;
    margin-right: 14.0052%; /* Same as the width of the sidebar */
}

.bestFriends{
    margin: 30px 0px 0px 0px;
}
